::-webkit-scrollbar { display: none; }


body {
	background-color: yellow;
}

img {
	z-index: 1;
	max-width: 800px;
	max-height: 800px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

h1 {
	color: white;
	padding: 25px;
	z-index: 0;
	text-align: center;
	margin: 0 auto;
}

.chinese {
	font-size: 350px;
	font-family: "SimHei", "黑体";	
}

.pinyin {	
	font-size: 200px;
	font-family: Helvetica, sans-serif;
}

li {
	text-align: left;
	display: inline-block;
}

a {
	font-family: Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.link a:hover {
	color: black;
}